body {
    text-align:center;
    background-color:rgb(255, 248, 228);
}

a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: green;
}
a:active {
    color: yellow;
}
.hidden {
    display: none;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.spacing {
    height: 75px;
}